<%- include('./layout/head', { NAME_CSS: "404" }) %>

<body id="error404">
  <link href="public/css/404.css" rel="stylesheet">

  <main>
    <h1>4<span><i class="fas fa-ghost"></i></span>4</h1>
    <h2>Error: 404 page not found</h2>
    <p>Sorry, the page you're looking for cannot be accessed</p>
  </main>

</body>

<%- include('./layout/footer') %>