<%- include('./layout/head', { NAME_CSS: "404" }) %>

<body id="error404">
  <main>
    <h1>4<span><i class="fas fa-ghost"></i></span>4</h1>
    <h2>Error: 404 pagina no encontrada</h2>
    <p>Lo sentimos, no se puede acceder a la página que estás buscando.</p>
    <a href="/">regresa al aplicativo <i class="fa-solid fa-arrow-right"></i></a>
  </main>
</body>

<%- include('./layout/closeHtml') %>