<%- include('./layout/head', { NAME_CSS: "changePassword" }) %>

<body id="changePassword">
  <%- include('./layout/notifications')%>

  <main>
    <section id="includeImg">
      <img src="public/img/logoTexto.png" alt="Logo de FinaCompanion">
    </section>

    <section id="includeForm">

      <h1>Actualización de Contraseña</h1>
      <p>Por favor ingrese la nueva contraseña para la actualización
      

      <form action="/changePassword" method="POST">

        <label for="password" id="labelPassword">Contraseña
          <br />
          <input type="password" name="password" id="password" required>
          <i class="fa-regular fa-eye" id="eyeOpen" onclick="changeInput()"></i>
          <i class="fa-regular fa-eye-slash hide" id="eyeClose" onclick="changeInput()"></i>
        </label>

        <label for="confPassword" id="labelConfPassword">Confirmar contraseña
          <br />
          <input type="password" name="confPassword" id="confPassword" required>
          <i class="fa-regular fa-eye" id="eyeOpenConf" onclick="changeInputConf()"></i>
          <i class="fa-regular fa-eye-slash hide" id="eyeCloseConf" onclick="changeInputConf()"></i>
        </label>
        <p id="confirmPass" class="hide">¡Las contraseñas no son las mismas!</p>

        <button type="submit" id="sendForm">Aceptar</button>

      </form>
    </section>

</body>

<%- include('./layout/closeHtml') %>