<%- include('./layout/head', { NAME_CSS: "codeEmail" }) %>

<body id="codeEmail">
  <%- include('./layout/notifications')%>
  <!--Incluir boton de cerrar session-->
  <h1>codeEmail</h1>

</body>

<%- include('./layout/footer') %>