<%- include('./layout/head', { NAME_CSS: "contact" }) %>

<body id="contact">
  <%- include('./layout/notifications')%>

  <main>
    <section id="includeForm">

      <h1>Añadir Contactos</h1>
      <p>parrafo para poner intro

      <form action="/contact" method="POST">
        <p>pendiente preguntar que debe de ir en la imagen

      </form>
    </section>

</body>

<%- include('./layout/closeHtml') %>