<%- include('./layout/head', { NAME_CSS: "contact" }) %>

<body id="contact">
  <%- include('./layout/notifications')%>

  <main>
    <section id="includeImg">
      <img src="public/img/logoTexto.png" alt="Logo de FinaCompanion">
    </section>

    <section id="includeForm">

      <h1>Añadir Constactos</h1>
      <p>......texto
      <p>

      <form action="/contact" method="POST">


      </form>
    </section>

</body>

<%- include('./layout/closeHtml') %>