<%- include('./layout/head', { NAME_CSS: "debts" }) %>

<body id="debts">
  <%- include('./layout/notifications')%>

  <main>
    <section id="includeImg">
      <img src="public/img/logoTexto.png" alt="Logo de FinaCompanion">
    </section>

    <section id="includeForm">

      <h1>Agregar movimientos</h1>
      <p>Por favor ingrese el .....
      <p>

      <form action="/debts" method="POST">

        

        <button type="submit" id="sendForm">Aceptar</button>
        <button type="submit" id="sendForm">Cancelar</button>
      </form>
    </section>

</body>

<%- include('./layout/closeHtml') %>