<%- include('./layout/head', { NAME_CSS: "home" }) %>

<body id="home">
  <%- include('./layout/notifications')%>
  <a href="/closeSession" id="exitSession"><i class="fa-solid fa-arrow-left"></i> Salir</a>

  <h1>Hola home</h1>
</body>

<%- include('./layout/footer') %>