<%- include('./layout/head', { NAME_CSS: "movements" }) %>

<body id="movements">
  <%- include('./layout/notifications')%>

  <%- include('./layout/header')%>

  <div style="height: 150px; overflow: hidden; width: 100%; position: fixed; top:0; left: 0; z-index: 15;">
    <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
      <path d="M-1.46,149.10 C152.59,30.99 275.05,127.45 501.35,149.10 L500.00,-0.00 L-0.00,-0.00 Z" style="stroke: none; fill: rgb(138 111 239);"></path>
    </svg>
  </div>

  <main>

    <section id="includeForm">

      <h1>Historial</h1>
      <p>Sus movimientos son:
      <p>

      <form action="/movements" method="POST">

        <table> 
          <tr> <td>Item</td> <td>Fecha</td> <td>Nombre</td> <td>Saldo</td> </tr> 
          <tr> <td>......</td> <td>......</td> <td>......</td> <td>......</td> </tr> 
        </table> 
        
        <div id="Content-Buttons">
          <button type="submit" id="sendForm">Aceptar</button>
          <button type="submit" id="sendForm">Cancelar</button>
        </div>

      </form>
    </section>

</body>

<%- include('./layout/closeHtml') %>