<%- include('./layout/head', { NAME_CSS: "recoveryPassword" }) %>

<body id="recoveryPassword">
  <%- include('./layout/notifications')%>

  <main>
    <section id="includeImg">
      <img src="public/img/logoTexto.png" alt="Logo de FinaCompanion">
    </section>

    <section id="includeForm">

      <img src="public/img/icono.png" alt="Logo de FinaCompanion">
      <h1>¿Olvido la contraseña?</h1>
      <p>Por favor ingrese el correo electrónico para el que desea recuperar la contraseña
      <p>

      <form action="/recoveryPassword" method="POST">

        <label for="email" id="labelEmail">Ingrese el correo electrónico
          <br />
          <input type="email" name="email" id="email" required>
        </label>

        <button type="submit" id="sendForm">Aceptar</button>

        <p>¿Ya tienes cuenta? <a href="/login">Iniciar sesion</a></p>
      </form>
    </section>

</body>

<%- include('./layout/footer') %>