body#changePassword section#includeForm,
body#changePassword form {
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
}

body#changePassword form {
    padding: 15px;
    gap: 15px;
    margin-top: 2em;
}

body#changePassword section#includeForm {
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    /* margin-right: 1em; */
    align-items: center;
}

body#changePassword h1 {
    font-size: 2.5em;
    margin-top: 2em;
    margin-bottom: 0;
}

body#changePassword button {
    width: 2em;
}


body#changePassword form label {
    width: 100%;
    text-align: left;
    margin-bottom: 1em;
}

body#changePassword label#labelPassword,
body#changePassword label#labelConfPassword {
    position: relative;
}


body#changePassword label#labelPassword>i,
body#changePassword label#labelConfPassword>i {
    position: absolute;
    right: 0px;
    top: 20px;
    cursor: pointer;
}

body#changePassword label#labelPassword>input,
body#changePassword label#labelPassword>input#confPassword {
    width: calc(100% - 23px);
    padding-right: 23px;
}

body#changePassword label#labelConfPassword {
    margin-bottom: 0;
}

body#changePassword input,
body#changePassword input:focus {
    border: 0px;
    border-bottom: 2px black solid;
    width: 100%;
    outline: none;
}

body#changePassword input:focus {
    border-color: #6f7eff;
}



body#changePassword button {
    position: relative;
    padding: 10px 40px;
    color: white;
    background: #22252a;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .5s;
    overflow: hidden;
    border-radius: 2px;
    width: 180px;
    height: 35px;
    margin-bottom: 4px;
}

body#changePassword #content-Buttons {
    margin-top: 5em;
}


body#changePassword button:hover {
    color: #dcc2e4;
}