body#changePassword {
    margin: 0;
    padding: 0;
    background-color: #22252a;

    height: 100vh;
    display: flex;
    align-items: center;

}

body#changePassword main {
    /* grid-template-columns: 1fr 1fr; */
    display: grid;
    grid-template-columns: 65% 35%;
    padding: 1em;
    background-color: #22252a;
    width: 100%;
    margin-left: 4vw;
    margin-right: 4vw;
    border-radius: 15px;
    height: 90vh;
    /* gap: 1em; */
    /* overflow: auto; */
}

body#changePassword section#includeImg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

body#changePassword section#includeImg img {
    width: 35em;
}

body#changePassword section#includeForm,
body#changePassword form {
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
}

body#changePassword section#includeForm {
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    /* margin-right: 1em; */
    align-items: center;
}

body#changePassword h1~p {
    margin-top: 0;
    font-size: 0.9em;
    color: #0000008a;
}

body#changePassword button {
    width: 5em;
}

body#changePassword form {
    margin-top: 2em;
    align-items: center;
    width: 15em;
}

body#changePassword form label {
    width: 100%;
    text-align: left;
}

body#changePassword label#labelEmail {
    margin-bottom: 2em;
}

body#changePassword label#labelPassword {
    position: relative;
}

body#changePassword label#labelPassword>i {
    position: absolute;
    right: 0px;
    top: 20px;
    cursor: pointer;
}

body#changePassword label#labelPassword>input#password {
    width: calc(100% - 23px);
    padding-right: 23px;
}


body#changePassword input,
body#changePassword input:focus {
    border: 0px;
    border-bottom: 2px black solid;
    width: 100%;
    outline: none;
}

body#changePassword input:focus {
    border-color: #6f7eff;
}

body#changePassword a#recovery {
    width: 100%;
    text-align: right;
    font-size: 0.9em;
    margin-top: 0.5em;
    color: #00000073;
    margin-bottom: 3em;
}

body#changePassword button {

    position: relative;
    padding: 10px 40px;
    color: white;
    background: #22252a;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 2px;
    width:180px;
    height:35px;
}
body#changePassword button:hover {
    color: #dcc2e4;
}




@media screen and (max-width: 1000px) {
    body#changePassword main {
        grid-template-columns: 1fr;
    }

    body#changePassword main section#includeImg {
        display: none;
    }
}