<footer id="footerFinaCompanion">
  <ul>
    <li id="footer_contacts" title="Contactos"><a href="/contact"> <i class="fa-solid fa-user-group"></i> <br />
        <!--<span>Contactos</span>-->
      </a></li>
    <li id="footer_history" title="Historico"><a href="/movements"> <i class="fa-solid fa-clock-rotate-left"></i> <br />
        <!--<span>Historico</span>-->
      </a></li>
    <li id="footer_home" title="Home"><a href="/home"> <i class="fa-solid fa-house"></i> <br />
        <!--<span>Home</span>-->
      </a></li>
    <li id="footer_add" title="Agregar"><a href="/debts"> <i class="fa-solid fa-coins"></i> <br />
        <!-- <i class="fa-solid fa-plus"></i> <span> Agregar </span>-->
      </a></li>
    <li id="footer_groups" title="grupos"><a href="/groups"> <i class="fa-regular fa-object-group"></i> <br />
        <!-- <li id="footer_overdue" title="Vencidas"><a href="/overdueAccount"> <i class="fa-regular fa-calendar-minus"></i>-->
        <!--<span>Vencidas</span>-->
      </a></li>
    <!--
    <ul id="footer_setting" title="Configuración"><a href="#"> <i class="fa-solid fa-sliders"></i> <br />
        <span>Configuración</span>
      </a></ul>
      -->
  </ul>
</footer>