<footer id="footerFinaCompanion">
  <li>
    <ul> <i class="fa-solid fa-bug"></i> <br /> Primera Opcion</ul>
    <ul> <i class="fa-solid fa-bug"></i> <br /> Segunda Opcion</ul>
    <ul> <i class="fa-solid fa-bug"></i> <br /> Tercera Opcion</ul>
    <ul> <i class="fa-solid fa-bug"></i> <br /> Cuarta Opcion</ul>
    <ul> <i class="fa-solid fa-bug"></i> <br /> Quinta Opcion</ul>
  </li>
</footer>