<footer id="footerFinaCompanion">
  <li>
    <ul id="footer_contacts"><a href="#"> <i class="fa-solid fa-user-group"></i> <br />
        <!--<span>Contactos</span>-->
      </a></ul>
    <ul id="footer_history"><a href="#"> <i class="fa-solid fa-clock-rotate-left"></i> <br />
        <!--<span>Historico</span>-->
      </a></ul>
    <ul id="footer_add"><a href="#"> <i class="fa-solid fa-plus"></i> <br />
        <!--<span> Agregar </span>-->
      </a></ul>
    <ul id="footer_overdue"><a href="#"> <i class="fa-regular fa-calendar-minus"></i> <br />
        <!--<span>Vencidas</span>-->
      </a></ul>
    <ul id="footer_setting"><a href="#"> <i class="fa-solid fa-sliders"></i> <br />
        <!--<span>Configuración</span>-->
      </a></ul>
  </li>
</footer>