<footer id="footerFinaCompanion">
  <li>
    <ul id="footer_contacts" title="Contactos"><a href="#"> <i class="fa-solid fa-user-group"></i> <br />
        <!--<span>Contactos</span>-->
      </a></ul>
    <ul id="footer_history" title="Historico"><a href="#"> <i class="fa-solid fa-clock-rotate-left"></i> <br />
        <!--<span>Historico</span>-->
      </a></ul>
    <ul id="footer_add" title="Agregar"><a href="#"> <i class="fa-solid fa-plus"></i> <br />
        <!--<span> Agregar </span>-->
      </a></ul>
    <ul id="footer_overdue" title="Vencidas"><a href="#"> <i class="fa-regular fa-calendar-minus"></i> <br />
        <!--<span>Vencidas</span>-->
      </a></ul>
    <ul id="footer_setting" title="Configuración"><a href="#"> <i class="fa-solid fa-sliders"></i> <br />
        <!--<span>Configuración</span>-->
      </a></ul>
  </li>
</footer>