<header id="headerFinaCompanion">
  <a href="#" id="profile">
    <!-- <div id=""> -->
    <img src="public/img/profile.jpg" alt="Profile" style="width: 3em; border-radius: 50%;">
    <!-- </div> -->
    <span id="contentText">
      <strong>Jonny Cano</strong>
    </span>
  </a>

  <a href="/closeSession" id="exitSession"> Salir <i class="fa-solid fa-arrow-right"></i></a>

</header>