<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <link rel="icon" href="public/img/icono.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#000000" />
  <meta name="description" content="Aplicación web para administrar finanzas personales" />

  <!-- <link rel="apple-touch-icon" href="%PUBLIC_URL%/logo192.png" /> -->

  <!-- <link rel="manifest" href="%PUBLIC_URL%/manifest.json" /> -->

  <link href="public/css/<%= NAME_CSS %>.css" rel="stylesheet" type="text/css">


  <link href="public/css/globals.css" rel="stylesheet" type="text/css">
  <link href="public/css/notifications.css" rel="stylesheet" type="text/css">
  <script src="public/js/kit.fontawesome.js" crossorigin="anonymous"></script>
  <title>FinaCompanion</title>
</head>