<header id="headerFinaCompanion">
  <a href="#" id="profile">
    <!-- <div id=""> -->
    <img src="public/img/profile.jpg" alt="Profile" style="width: 3em; border-radius: 50%; box-shadow: 1px 1px 20px white;">
    <!-- </div> -->
    <span id="contentText">
      <strong>Jonny Cano</strong>
    </span>
  </a>

  <a href="/closeSession" id="exitSession"><i class="fa-solid fa-arrow-right-to-bracket"></i></a>

</header>